<h1>All Customers</h1>

<%= link_to 'New Customer', new_customer_path %><%= link_to 'Missing Email', 'missing_email' %> <br>


<%= render partial: '/customers/customer',
           collection: @customers,
locals: { display_link_to_show: true }%>

